<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 onclick="hello()">Welcome</h1>
    <a href="https://gaijinmall.com">Go to Gaijinmall</a>
    <a href="toast.html">
        Go to Digitanotion
    </a>
    <a href="https://google">Got to google</a>
    <a href="tel:08066330897">Call Now</a>
    <input type="text" id="container">
    
    <script type="text/javascript">
        //This function will send page title to APP
        
        function sendPageTitle() {
   //header.innerText = 'Hello';
   var getDomTitle=document.getElementsByTagName("title").textContent;
      sendToApp.postMessage("title:"+getDomTitle+", icon:icon1232");
}
//This function will be triggered by the APP
function callFromApp(datIt){
    document.getElementById("container").value=datIt;
}
sendPageTitle();
    </script>
</body>
</html>